<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.pomdtr.tweety</string>
        <key>ProgramArguments</key>
        <array>
            <string>{{ .ExecPath }}</string>
        </array>
        <key>RunAtLoad</key>
        <true />
        <key>KeepAlive</key>
        <dict>
            <key>SuccessfulExit</key>
 	    <false/>
            <key>Crashed</key>
 	    <true/>
        </dict>
        <key>StandardOutPath</key>
        <string>{{ .HomeDir }}/Library/Logs/tweety.log</string>
        <key>StandardErrorPath</key>
        <string>{{ .HomeDir }}/Library/Logs/tweety.log</string>
        <key>WorkingDirectory</key>
        <string>{{ .HomeDir }}</string>
    </dict>
</plist>
