[Unit]
Description=Run the tweety service

[Service]
ExecStart={{ .ExecPath }}
Restart=always
RestartSec=3
StandardOutput=file:/tmp/logs/tweety.log
StandardError=file:/tmp/logs/tweety.log
WorkingDirectory={{ .HomeDir }}

[Install]
WantedBy=multi-user.target
